*, *::after, *::before {
    font-family: 'Open Sans', sans-serif;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: flex-start;
    gap: 1rem;
}

.card {
    --padding: 1rem;
    background: white;
    border: 0;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    overflow: hidden;

}

.card-header {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    padding: var(--padding);
    padding-bottom: 0;
}

.card-header.card-image {
    padding: 0;
    overflow: hidden;
}

.card:hover > .card-header.card-image > img {
    transform: scale(1.025);
    transition: 200ms transfrom ease-in-out;
}

.card-header.card-image > img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    max-height: 200px;
    object-position: center;
}

.card-body {
    font-size: .9rem;
    padding: var(--padding);
    padding-top: 0;
    padding-bottom: 0;
}

.card-footer {
    margin-top: 1rem;
    padding: var(--padding);
    padding-top: 0;
}

.btn {
    --color : hsl(200, 50%, 50%);
    background: var(--color);
    color: white;
    border: none;
    font-size: 1rem;
    padding: .5em .75em;
    border-radius: .25cm;
    cursor: pointer;
}

.btn:hover, .btn:focus {
    background: hsl(200, 50%, 60%);
}

.btn.btn-outline {
    background: none;
    border: 1px solid var(--color);
    color: var(--color) ;
}

.btn.btn-outline:hover, .btn.btn-outline:focus  {
    background: hsl(200, 50%, 90%);
}

.btn + .btn {
    margin-left: .25rem ;
}